---
import { getCollection } from 'astro:content';

import { Background } from '@/components/background';
import { BlogPosts } from '@/components/blocks/blog-posts';
import { getSiteMetadata } from '@/consts';
import DefaultLayout from '@/layouts/DefaultLayout.astro';

const lang = 'pl' as const;
const metadata = getSiteMetadata(lang);

const posts = (await getCollection('blog'))
	.filter((post) => post.data.lang === 'pl')
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<DefaultLayout title={metadata.title.default} description={metadata.description} lang={lang}>
	<Background>
		<div class="py-28 lg:pt-44 lg:pb-32">
			<BlogPosts posts={posts} lang={lang} client:only='react' />
		</div>
	</Background>
</DefaultLayout>
