---
import { getSiteMetadata } from '@/consts';

import { Background } from '@/components/background';
import { AboutHero } from '@/components/blocks/about-hero';
import { AboutSection } from '@/components/blocks/about-section';
import { Investors } from '@/components/blocks/investors';
import { DashedLine } from '@/components/dashed-line';
import DefaultLayout from '@/layouts/DefaultLayout.astro';

const lang = 'pl' as const;
const metadata = getSiteMetadata(lang);
---

<DefaultLayout title={metadata.title.default} description={metadata.description} lang={lang}>
    <Background>
      <div class="py-28 lg:py-32 lg:pt-44">
        <AboutHero lang={lang} />
        <AboutSection lang={lang} />
        <div class="pt-28 lg:pt-32">
          <DashedLine className="container max-w-5xl scale-x-115" />
          <Investors lang={lang} />
        </div>
      </div>
    </Background>
</DefaultLayout>
