---
import BaseHead from '@/components/BaseHead.astro';
import { Footer } from '@/components/blocks/footer';
import { Navbar } from '@/components/blocks/navbar';
import { type Language, defaultLang } from '@/i18n';

interface Props {
    title: string;
    description: string;
    image?: string;
    lang?: Language;
}

const { title, description, image, lang = defaultLang } = Astro.props;
---

<html lang={lang}>
    <head>
        <BaseHead title={title} description={description} image={image} lang={lang} />
    </head>
    <body class="h-screen antialiased">
        <Navbar client:only='react' lang={lang} />
        <main><slot /></main>
        <Footer lang={lang} />
    </body>
</html>
